*{
    padding:0;
    margin:0;
}
body{
    font-family: Arial, Helvetica, "微軟正黑體",sans-serif,;
    font-size: 18px;
}
.container{
    background-color: blue;
    width: 80%;
    margin: auto;
}

.header{
    box-sizing: border-box;
    
    height:50%;
    display: flex;
    justify-content: space-between;
}
.header img{
    float: left;
    height:50%;
}
.header ul{
    
    width:35%;
    display: flex;
    float: right;
    vertical-align: middle;
    padding-right: 2%;
}
.header li{
    float: left;
    list-style: none;
    margin-left: 3%;
}
.header li a{
    color: black;
    text-decoration: none;
}

.banner{
    box-sizing: border-box;
    width:100%;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(./images/banner.jpg);
    padding: 8% 10% 0 10%;
    
}
.banner h2{
    color: white;
    font-size: 80px;
}
.banner p{
    color: white;
}
.banner img{
    padding-left:20% ;
    padding-top:5%;
    width: 20%;
    height:auto;
}

.flow{
    
    box-sizing: border-box;
    padding: 3% 5%;
}
.flow ul{
    display: flex;
    justify-content: center;
}
.flow li{
    box-sizing: border-box;
    padding: 1%;
    list-style: none;
    color: white;
    width:18%;
    height: 300px;
    background-color: blanchedalmond;
    position: relative;
}
.flow h2{
    font-size: 3em;
    margin-bottom: 3%;
}
.flow h3{
    font-size: 1.1em;
    margin-bottom: 3%;
}
.flow p{
    font-size: 0.8em;
}
.flow img{
    width:30%;
    height:auto;
    position: absolute;
    position: left 2%, bottom 5%;
}
.flow ul li.flow01 {
    background-color: rgb(255, 102, 0) !important;
}
.flow ul li.flow02 {
    background-color: rgb(255, 61, 31) !important;
}
.flow ul li.flow03 {
    background-color: rgb(31, 31, 33) !important;
}
.flow ul li.flow04 {
    background-color: rgb(78, 78, 78) !important;
}

.construction{
    box-sizing: border-box;
    background-color: rgb(222, 222, 222);
    padding: 5% 22%;
    text-align: center;
}
.construction h2{
    color: rgb(255, 106, 0);
    font-size: 2.3em;
    font-weight: bold;
    margin-bottom: 2%;
}
.construction p{
    margin-bottom: 3%;
}
.construction a{
    color: white;
    font-size: 0.8em;
    background-color: orangered;
    display: block;
    width:20%;
    margin:auto;
    padding:1% 2%;
    
    text-decoration: none;
}

.pics{
    background-color: cadetblue;
    padding:(5% 10%);
}
.outerpic{
    background-color: rgb(200, 200, 141);
    display:flex;
    flex-wrap: wrap;
}
.innerpics{
    width:10%;
    height:10%;
}
.innerpics img{
    

}
.innerpics h4{}
.innerpics h4 img{}
.innerpics p{}

.hands{
    background-image: url(./images/handbg.jpg);
    background-repeat: no-repeat;
}
.hands3{}
.hands3 img{}
.hands3 h6{}
.hands3 p{}

.footer{}
.footer h6{}
.footer p{}





/*平板*/
@media screen and (max-width:1200px) and (min-width:769px){}
/*手機*/
@media screen and (max-width:768px){}